{% extends "layout.html" %}

{% block contenido %}
<h1>Estadisticas por torneo</h1>

<form method="GET">

    <label>Torneo:</label>
    <select name="torneo_enviado" onchange="this.form.submit()">
        <option value="">Selecciona un Torneo </option>
        {% for torneo in torneo_elegido %}
            <option value="{{ torneo[0] }}" {% if torneo[0] == torneo_enviado %}selected{% endif %}>
                {{ torneo[1] }}
            </option>
        {% endfor %}
    </select>


<br><br>
</form>

<div style="margin-top: 20px;">
    <h3>Ranking de Jugadores</h3>

    {% if datos_filtrados %}
    <table style="border-collapse: collapse; width: 100%; text-align: center;">
        <thead style="background-color: #2c3e50; color: white;">
            <tr>
                <th style="padding: 10px;">Gamertag</th>
                <th>Total KOs</th>
                <th>Total Restarts</th>
                <th>Total Assists</th>
                <th>Ratio</th>
            </tr>
        </thead>
        <tbody>
            {% for datos in datos_filtrados %}
            <tr style="border-bottom: 1px solid #ddd;">
                <td style="padding: 8px;"><strong>{{ datos[0] }}</strong></td>
                <td>{{ datos[2] }}</td>
                <td>{{ datos[3] }}</td>
                <td>{{ datos[4] }}</td>
                <td style="color: #e67e22;"><strong>{{ datos[5] }}</strong></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p style="color: gray;">No hay estadísticas para este torneo.</p>
    {% endif %}
</div>

    {% endblock %}